*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#F5F7FB;

font-family:Inter,sans-serif;

color:#1f2937;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

button{

cursor:pointer;

}

img{

max-width:100%;

display:block;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#5B3DF5;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#ececec;

}